@import "./bootstrap/customize.css";
@import "./variables.css";
@import "./reset.css";
body {
  background-color: var(--blue-bg);
  font-family: "Plus Jakarta Sans", sans-serif;
}
.paymentBox {
  background-color: var(--white-bg);
}
.paymentBox .content {
}
